<div class="board-wrapper">
  <div class="board-header">
    <button mat-mini-fab color="primary" class="return-btn" routerLink="/main"><mat-icon>arrow_back</mat-icon></button>
    <h2 class="board-title">Board title</h2>
  </div>
  <div class="columns-ctr" cdkDropListGroup>
    <div class="columns-drop-list"cdkDropList cdkDropListGroup [cdkDropListData]="columnList" cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)">
      <div class="column-ctr" *ngFor="let column of columnList" cdkDrag >
          <app-column [item]="column" (deleted)="getColumns()"></app-column>
        </div>
    </div>
    <app-create-column (columnCreated)="getColumns()"></app-create-column>
  </div>
</div>


