<H1>{{'Welcome-to'| translatePipe}} <span>PMA</span></H1>
<img class="home-img-1" src="../../assets/Humaaans-1.png" alt="">
<p>{{'With-this'| translatePipe}} <span>Project Manager Application</span>{{'you-can-effortlessly'| translatePipe}}</p>
<p>{{'Our-user-friendly'| translatePipe}}</p>
<img class="home-img-2" src="../../assets/Humaaans-3.png" alt="">
<div>
  <p>{{'What-can-do'| translatePipe}}</p>
  <ul>
    <li>{{'Create-boards' | translatePipe}}</li>
    <li>{{'Create-columns' | translatePipe}}</li>
    <li>{{'Create-tasks' | translatePipe}}</li>
    <li>{{'Transfer-tasks' | translatePipe}}</li>
    <li>{{'Update-tasks' | translatePipe}}</li>
  </ul>
</div>
<div>
</div>
