header {
  position:sticky;
  top: 0;
}
main {
  max-width: 1920px;
  height: fit-content;
  min-height: 80%;
  background-color: rgb(232, 228, 255);
  padding: 20px 20px;

}


.main-wr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
