footer {
  margin: 0 auto;
  height: 70px;
  width: 100%;
  font-family: 'Titan One';
  color: rgb(182, 151, 197);
  background-color: rgb(128, 106, 142);
}

.footer-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-p {
  margin: 0;
}
