<div class="modal-ctr">
  <div class="modal-wrapper">
    <h2>Edit Task</h2>
    <input type="text" placeholder="Edit task title" [(ngModel)]="title">
    <textarea name="task-description" id="" cols="30" rows="5" placeholder="Edit task description"[(ngModel)]="description"></textarea>
    <div class="modal-btns">
      <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="accent" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
