<div class="create-board-wrapper" *ngIf="!showForm" (click)="showCreateForm()">
  <p class="create-board-p">{{'create-new-board' | translatePipe}}</p>
</div>
<div class="create-form-wrapper" *ngIf="showForm">
  <p class="create-board-header">{{'create-new-board' | translatePipe}}</p>
    <input type="text" [placeholder]=" 'Enter-board-title' | translatePipe" [(ngModel)]="boardPostRequestObj.title" name="" id="">
  <div class="create-btns-wrapper">
    <button mat-raised-button  class="cancel-create-btn" (click)="closeCreateForm()">{{'cancel' | translatePipe}}</button>
    <button mat-raised-button  class="create-board-btn" (click)="onCreateBoardBtnClick()">{{'create' | translatePipe}}</button>
  </div>
</div>

